---
layout: archive
author_profile: true
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">

  <body>

    <h1>About me</h1>

    {{ content }}

<h1>News</h1>
  <ul>{% for post in site.news reversed %}
    <li>
       <b>[{{ post.date | date: "%d/%m/%Y" }}]</b> {{ post.desc }} 
    </li>{% endfor %}
  </ul>


<h1> Publications and preprints </h1>
  <ul>{% for post in site.publications reversed%}
    <li>
      <b> {{ post.title }}</b>
      <br> {{ post.citation }}
      <br> {{ post.venue }}
      <a href={{ post.preprint }}> [arxiv] </a> 
      {% if post.paperurl != '' %}
        <a href={{ post.paperurl }}> [paper] </a>
      {% endif %}
      {% if post.code != '' %}
        <a href={{ post.code }}> [code] </a>
      {% endif %}
    </li>
  {% endfor %}</ul>

<h1> Talks</h1>  
  <ul>{% for post in site.talks reversed %}
    {% if post.type != "Poster" %}
      <li>
        <b> {{ post.venue }}</b>
        <br> {{ post.date | date: "%d/%m/%Y" }}, {{ post.location }}
        <br> {{ post.title }}
      </li>
    {% endif %}
  {% endfor %}</ul>



    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>